/* ==================================================================                                 
    CSS PERSONAL NAMING CONVENTION: 
        General classes: pagename__classname (Can be applied to any div)
        Outmost classes: pagename_classname
        Inner classes:
            1 indent: pagename_-classname
            2 indent: pagename_--classname
            3 indent: pagename_---classname
                and so on...
    Sample HTML with applied names:
    <div class="pagename_classname">
        <div class="pagename_-classname">
            <div class="pagename_--classname">
                <div class="pagename_--classname">
                </div>
            </div>
        </div>
    </div>

    Group your page layout into important sections.
    Use a ascii-styled header comment to describe the section.
    For example below:
    //=====================================//
    //=====================================//
    //                                     //
    //          YOUR SECTION NAME          //
    //                                     //
    //=====================================//
    //=====================================//
    

===================================================================== */

/* ====================================== */
/* ====================================== */
/*                                        */
/*      GENERAL CLASSES AND SELECTORS     */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 900px */
.hom_svg-pawprint{
    width: 100px;
    height: 100px;
}

.hom_features-container{
    min-height: 575px;
    
}

.hom__max-width{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.ban__image-mobile{
    width: 60%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(10px);
}

/* TABLET: If the browser window is 900px or larger (For text adjustment)*/
@media only screen and (min-width: 500px) {
    .ban__image-mobile{
        width: 45%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
    
}



/* DESKTOP: If the browser window is 900px or larger */
@media only screen and (min-width: 900px) {
    .ban__image-mobile{
        display: none
    }
    
}




/* ====================================== */
/* ====================================== */
/*                                        */
/*             HERO BANNER                */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 900px */

.hom_hero-banner-container{
    background-color: #766F9B;
    max-height: fit-content;
}

.hom_banner-mobile-disable{
    display: none;
}

.hom_banner-mobile-enable{
    display: block;
}

.hom_tagline_mobile{
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2.5em;
    transform: translateX(5px);
}

    .hom_----title-banner{
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .hom_----title-banner h1{
        font-size: 6vw;
        margin-bottom: 15px;
        transform: translateY(10px);
    }

    .hom_----title-banner h1{
        color: #211753;
        font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif !important;
        margin-top: 10px;
    }

.hom_---search-block{
    text-align: center;

}

.bar_---search-bar{
    margin-top:0;
}

.hom_---search-empty{
    padding: 1px;
    min-width: 0;
}

.bar__link{
    padding-bottom: 2em;
}

/* TABLET: If the browser window is 500px or larger (For text adjustment)*/
@media only screen and (min-width: 500px) {
    .hom_----title-banner{
        max-width: 380px;
        margin-left: auto;
        margin-right: auto;
    }
    .hom_----title-banner h1{
        font-size: 4.5vw;
        margin-bottom: 15px;
    }

    .hom_tagline_mobile{
        max-width: 50%;
        padding-top: 2.5em;
        transform: translate(15px, 10px);
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* DESKTOP: If the browser window is 900px or larger */
@media only screen and (min-width: 900px) {

    .bar__link{
        padding-bottom: 0;
    }

    .hom_---search-empty{
        padding: 10px;
        min-width: 350px;
    }

    .hom_----title-banner h1{
        font-size: 1.75rem;
        margin-top: 10px;
        margin-bottom: 0px;;
    }

    .hom_hero-banner-container{
        max-height: 575px;
    }

    .hom_hero-banner-padding{
        padding-right: 25px;
        padding-left: 25px;
    }

    .hom_tagline_desktop{
        max-width: 65%;
        transform: translateY(90px);
    }

    .hom_banner-mobile-disable{
        display: block;
    }

    .hom_banner-mobile-enable{
        display: none;
    }
    
    .hom_-search-banner{
        display: flex;
        justify-content: space-between;
    }

    .hom_--search-banner-col-1{
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .hom_--search-banner-col-2{
        flex: 1;
    }

    .hom--search-banner-image{
        max-height: 430px;
        max-width: fit-content;
    }

    .hom_---search-empty{
        flex: 1;
     //   background-color: khaki;
        min-width: 350px;
    }

    .hom_---search-block{
        flex: 3;
       // background-color: lightcoral;
        text-align: left;
    }



}