/* ==================================================================                                 
    CSS PERSONAL NAMING CONVENTION: 
        General classes: pagename__classname (Can be applied to any div)
        Outmost classes: pagename_classname
        Inner classes:
            1 indent: pagename_-classname
            2 indent: pagename_--classname
            3 indent: pagename_---classname
                and so on...
    Sample HTML with applied names:
    <div class="pagename_classname">
        <div class="pagename_-classname">
            <div class="pagename_--classname">
                <div class="pagename_--classname">
                </div>
            </div>
        </div>
    </div>

    Group your page layout into important sections.
    Use a ascii-styled header comment to describe the section.
    For example below:
    //=====================================//
    //=====================================//
    //                                     //
    //          YOUR SECTION NAME          //
    //                                     //
    //=====================================//
    //=====================================//
    

===================================================================== */

/* ====================================== */
/* ====================================== */
/*                                        */
/*      GENERAL CLASSES AND SELECTORS     */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 900px */
.res__general-wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  //  background-color: cadetblue;
}

.res_design_dogcat-icon{
    display: none;
}

/* TABLET: If the browser window is 900px or larger (For text adjustment)*/
@media only screen and (min-width: 500px) {
}

/* DESKTOP: If the browser window is 900px or larger */
@media only screen and (min-width: 900px) {
    .res_design_dogcat-icon{
        display: block;
        position: absolute;
        top: 80px;
        left: 70%;
    }

    .res_design_dogcat-icon img{
        width: 250px;
        height: auto;
        transform: rotate(15deg);
    }
}



/* ====================================== */
/* ====================================== */
/*                                        */
/*         SEARCH BAR HEADER              */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 900px */
.res_search-bar-container{
    background-color: #766F9B;
}

.res_search-bar-container h1{
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #211753;
    margin-right: 10px;
    margin-left:10px;
    text-align: center;
    font-size: 1.5rem;
    padding-top:0.5em;
}

.res_-search-bar-select-container{
  //  background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1.25em;
}

.bar_---search-bar{
    flex: 1;
    margin-bottom: auto;
    margin-top: 0;
}

.bar__link{
    display: none;
}

.bar_---search-button{
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

.bar__button{
    width: 100%;
}

/* Adjust and override height of original select */
    .bar__-select{
        height: 30px;
    }
    .bar__box {
        height: 30px;
    }
    .bar__-select-trigger{
        height: 30px;
    }

/* Adjust and override size and position of the icon image */
    .bar__animal img{
        height: 25px;
        margin:0;
    }

    .bar__animal-icon {
        transform: translate(-10px,-2px);
    }



/* TABLET: If the browser window is 400px or larger (For text adjustment)*/
@media only screen and (min-width: 500px) {

    /* Adjust and override size and position of the icon image */
        .bar__animal img{
            height: 25px;
            margin:0;
        }
        .bar__animal-icon {
            transform: translate(-10px,-1px);
        }

    .res_search-bar-container h1{
        font-size: 1.5rem;
    }
}

/* DESKTOP: If the browser window is 900px or larger */
@media only screen and (min-width: 900px) {

    /* Adjust and override size and position of the icon image */
        .bar__animal img{
            height: 30px;
            margin:0;
        }
        .bar__animal-icon {
            transform: translate(-0px,-1px);
        }


    .res_search-bar-container h1{
        text-align: left;
        font-size: 2rem;
    }

    .res_-search-bar-select-container{
        display: flex;
        flex-direction: row;
        padding-right: 10px;
        padding-left: 10px;
        margin-left: 0;
        margin-right: auto;
        padding-bottom: 10px;
    }

    /* Adjust Desktop Button Position */
        .bar__button{
            margin-left: 2em;
            margin-bottom: 1em;
        }

    /* Adjust and override height of original select */
        .bar__-select{
            height: 40px;
        }
        .bar__box {
            height: 40px;
        }
        .bar__-select-trigger{
            height: 40px;
        }

    /* Adjust the shadows of custom select boxes */
    .bar_----select-bar-city{
        box-shadow: -3px 3px 2px rgb(51, 51, 51);
        z-index: 3;
    }

    .bar_----search-bar-caption{
        box-shadow: -10px 3px 2px rgb(51, 51, 51);
        z-index: 2;
    }

    .bar_----select-bar-animal{
        box-shadow: -10px 3px 2px rgb(51, 51, 51);
    }
}


/* ====================================== */
/* ====================================== */
/*                                        */
/*            FILTER SECTION              */
/*                                        */
/* ====================================== */
/* ====================================== */


/* MOBILE: If the browser window is smaller than 900px */

.res__search-filter-toggle{
    border: solid 1px;
    width: 130px;
    text-align: center;
    padding:10px;
    cursor: pointer;
    color: #211753;
    background-color: white;
    font-family:  'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: bold;
}
    .res__search-filter-toggle:hover{
        background-color: #766F9B;
        color: white;
    }

    .res_--all-adv-filters.res__hidden{
        display: none;
    }

.filtype{
    margin-left: 1em;
    margin-bottom: 0.2em;
    margin-top: 10px;
}

.res_-advanced-filters{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

.res_-advanced-filters p{
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: small;
}

/* TABLET: If the browser window is 360px or smaller (For text adjustment)*/
@media only screen and (max-width: 366px) {
    .res_-advanced-filters{
        max-width: 250px;
    }
}

/* TABLET: If the browser window is 500px or larger (For text adjustment)*/
@media only screen and (min-width: 500px) {
    .res__search-filter-toggle{
        margin-left: 1.9em;
    }

    .res_-advanced-filters{
        padding: 10px;
        max-width: 500px;
    }

    .res_--all-adv-filters{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}


/* DESKTOP: If the browser window is 900px or larger */
@media only screen and (min-width: 900px) {

    .res_--all-adv-filters{
        display: flex;
        flex-wrap: nowrap;
        justify-content: left;
    }

    .res_-advanced-filters{
        padding: 10px;
        margin-left: 0;
        margin-right: 0;
        max-width: none;
    }

    .res__search-filter-toggle{
        margin-left: 0;
    }

}







.res{
    margin-left: 8vw;
    padding-top: 1em;
    border-bottom: solid 1px;
    width: 82vw;
}






#gender{
    width: 15em;
    height: 3em;
    padding-left: 1em;
}

#age{
    width: 15em;
    height: 3em;
    padding-left: 1em;
}

#size{
    width: 15em;
    height: 3em;
    padding-left: 1em;
}

.ulist{
    display: block flex;
    list-style-type: none;
    justify-content: center;
    padding-left: 0;
}

.porlist{
    display: flex;
    margin-left: 11vw;
    margin-right: 11vw;
}

.list{
    text-align: center;
    border: solid 1px;
    margin: 0.5em;
    padding-bottom: 1em;
}

img{
    height: 18.5vw;
    display: block;
    margin: auto;
}

#ulist{
    text-align: center;
}

.resnpg{
    text-align: center;
}

@media only screen and (min-width: 400px) and (max-width: 900px){
    .select{
        display: inline;
        text-align: center;
    }

    .filters{
        margin-left: 0vw;
    }



    .porlist{
        display: inline-block;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    
    .res{
        margin-left: 5vw;
        padding-top: 1em;
        border-bottom: solid 1px;
        width: 87vw;
    }

    .ulist{
        display: block flex;
        list-style-type: none;
        justify-content: center;
        padding-left: 0;
    }

    #ulist{
        display: block;
        margin: auto;
    }

    .list{
        display: block;
        text-align: center;
        border: solid 1px;
        margin: 0.5em;
        padding-bottom: 1em;
    }

    img{
        height: 150px;
        display: block;
        margin: auto;
    }

    
}

/* ====================================== */
/* ====================================== */
/*                                        */
/*      GENERAL CLASSES AND SELECTORS     */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 900px */

/* TABLET: If the browser window is 500px or larger (For text adjustment)*/
@media only screen and (min-width: 500px) {
}

/* DESKTOP: If the browser window is 900px or larger */
@media only screen and (min-width: 900px) {
}