/* ==================================================================                                 
    CSS PERSONAL NAMING CONVENTION: 
        General classes: pagename__classname (Can be applied to any div)
        Outmost classes: pagename_classname
        Inner classes:
            1 indent: pagename_-classname
            2 indent: pagename_--classname
            3 indent: pagename_---classname
                and so on...
    Sample HTML with applied names:
    <div class="pagename_classname">
        <div class="pagename_-classname">
            <div class="pagename_--classname">
                <div class="pagename_--classname">
                </div>
            </div>
        </div>
    </div>

    Group your page layout into important sections.
    Use a ascii-styled header comment to describe the section.
    For example below:
    //=====================================//
    //=====================================//
    //                                     //
    //          YOUR SECTION NAME          //
    //                                     //
    //=====================================//
    //=====================================//
    

===================================================================== */

/* ====================================== */
/* ====================================== */
/*                                        */
/*      GENERAL CLASSES AND SELECTORS     */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 900px */

/* TABLET: If the browser window is 900px or larger (For text adjustment)*/
@media only screen and (min-width: 500px) {
}

/* DESKTOP: If the browser window is 900px or larger */
@media only screen and (min-width: 900px) {
}


.filters{
    margin-left: 8vw;
}

.res{
    margin-left: 8vw;
    padding-top: 1em;
    border-bottom: solid 1px;
    width: 82vw;
}

.filter{
    border: solid 1px;
    width: 10em;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-bottom: 1em;
}

a{
    text-decoration: none;
}

.select{
    display: flex;
}

.filtype{
    margin-left: 1em;
    margin-bottom: 0.2em;
    margin-top: 0em;
}

#gender{
    width: 15em;
    height: 3em;
    padding-left: 1em;
}

#age{
    width: 15em;
    height: 3em;
    padding-left: 1em;
}

#size{
    width: 15em;
    height: 3em;
    padding-left: 1em;
}

.ulist{
    display: block flex;
    list-style-type: none;
    justify-content: center;
    padding-left: 0;
}

.porlist{
    display: flex;
    margin-left: 11vw;
    margin-right: 11vw;
}

.list{
    text-align: center;
    border: solid 1px;
    margin: 0.5em;
    padding-bottom: 1em;
}

img{
    height: 18.5vw;
    display: block;
    margin: auto;
}

#ulist{
    text-align: center;
}

.resnpg{
    text-align: center;
}

@media only screen and (min-width: 400px) and (max-width: 900px){
    .select{
        display: inline;
        text-align: center;
    }

    .filters{
        margin-left: 0vw;
    }

    .filter{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: solid 1px;
        width: 10em;
        text-align: center;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        margin-bottom: 1em;
        
    }

    .porlist{
        display: inline-block;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    
    .res{
        margin-left: 5vw;
        padding-top: 1em;
        border-bottom: solid 1px;
        width: 87vw;
    }

    .ulist{
        display: block flex;
        list-style-type: none;
        justify-content: center;
        padding-left: 0;
    }

    #ulist{
        display: block;
        margin: auto;
    }

    .list{
        display: block;
        text-align: center;
        border: solid 1px;
        margin: 0.5em;
        padding-bottom: 1em;
    }

    img{
        height: 150px;
        display: block;
        margin: auto;
    }

    
}